apiVersion: apps/v1
kind: Deployment
metadata:
    name: nginx
    labels:
        app: nginx
spec:
    selector:
        matchLabels:
            app: nginx
    template:
        metadata:
            labels:
                app: nginx
        spec:
            imagePullSecrets:
            - name: harbor-credentials
            containers:
            - name: nginx
              image: harbor.harbor.svc.cluster.local:5000/library/nginx:latest
              env:
              - name: ENV
                value: dev